html{
    background-color: white;
}

body{
    position: relative;
    /* margin:0 10%; */
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
}
div, header, section, footer{
    /* border: 1px solid black ; */
}
header{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    
     justify-content: space-between; /*Avant c'estait space between */
    z-index: 10;
    background-color: white;
}
.intromobile{
    display: none;
}
p{
    color: grey;
}
.menutoggle{
    background-color: red;
    
}
#btnBurger{
    display: none;
    margin-right: 5vw;
    margin-top: 1vw;
}
.menu>ul{
    display: flex;list-style: none;
}

.menu>ul>li>a{
    margin-left: 25px;
    text-decoration: none;
    color:#B3B2B7;
}
.request{
    margin-right: 5%;
}
.section1{
    position: relative;
    background-image:url("images/bg-intro-desktop.svg");
    display: flex;
    margin: auto;
    background-color: #FAFAFA;
    padding-bottom: 5%;
    background-repeat: no-repeat; 
    height: 60vh;
    background-position: top -10vw left 46vw;
    width: 100%;
}
 .section1 > img{
    position: absolute;
    max-width:65% ;
    max-height: inherit;
    top: -6vh;
    right: -15vh;
    left: auto;
    z-index: 9;
    overflow-x: hidden;
    float: right;;}
.section1{
    width: 100%;
}
.section2{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #F4F5F7;
    padding-bottom: 5%;
    z-index: 8;
}
.section3{
    margin: auto;
    padding-bottom: 5%;
}
.section3 > h1{
    padding-left: 10vw;
}
.next{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 5vw;   
}
.pad{
    padding: 10px;
}
.why{
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-left: 10vw;
    padding-right: 7vh;
}
.arguments {
    display: flex;
    padding-left: 10vw;
    padding-right: 7vh;
}
.arguments > div{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}
.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 7vh;
}
.articles > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 15px;
    text-align: center;
    width: 250px;
    background-color: #FFFFFF;
}
.articles> div> img {
    border-radius: 5px 5px 0px 0px;
}
.articles > p{
    align-self: flex-start;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #2D314E;
    color: #B3B2B7;
    padding-left: 10vw;
    padding-right: 7vh;
}
.footL{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}
.colonnesPied{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}
.colonnesPied > a{
    padding: 1% 5%;
    text-decoration: none;
    color:white;
}
.colonnesPied>a:active{
    color: #33D065 ;
}
.icon{
    display: flex;
    justify-content: space-evenly;
}
button{
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 10px 15px;
    background: linear-gradient(to right,#2CB5D3, #33D065);
}
button:active{
    opacity: 0.7;
}
.menu>ul>li:hover{
    text-decoration: none;
    display: inline-block;
}
.menu>ul>li>a:hover{
    color: black;
    border-bottom: 2px green solid;line-height: 1em;
}
path:hover{
    fill: #33D065;
}
#menuHide{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#menuHide>ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    
    justify-content: space-between;
    align-items: center,
}
#menuHide>ul>li>a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 900px) {
    html{
        z-index : auto;
    }
    .menu {
        display: none;
    }
    #btnBurger{
        display: inline;
    }
    #menuBurger{
        background-color: white;
    border-top-right-radius: 5px;
    position: fixed;
    top:5vh;
    left:15%;
    width: 70%;
    display: flex;
    justify-content:space-evenly;
    height:30vh ;
    }
    .request{
        display: none;
        
    }
    .section1 > img{
       display: none;
        
    }   
    .section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        background-image:none;
        height: fit-content;
    }
    .next{
        
        width: auto;
        padding: 20px;
        align-items: center;
        margin-bottom: 10vh;
    }
    .section2{
        flex-direction: column;
    }
    .arguments{
        flex-direction: column;
    }
    .articles{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    footer{
        flex-direction: column;
        justify-content: center
       
    }
    .colonnesPied{
        align-items: center;
    }
    .icon{
        margin-bottom: 20px;
    }
    .footL{
        
        align-items:stretch;
        justify-content: space-evenly;
    }
    .logoFoot{
        align-self: center;
        margin-bottom: 20px;
    }
    .colonnesPied>div{
        margin-top: 20px;
    }
    .intromobile{
        display: flex;
        
        background-image: url("images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .intromobile>img{
        width:85%;
        margin: auto;
    }
}
.arguments>div{
    justify-content: space-between;
    align-items: center;
}
    /* @media (max-width:1440px) and (min-width: 900px)  {

        header{
            position: static;
        }
        
        body{
            position: static;
        }
        .section1{
            background: url("images/bg-intro-desktop.svg");
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: center;
        }
        .section1 > img{
            position: static;
            z-index: auto;
            width :50%;
            height: auto;
        }
        
    } */